@font-face {
    font-family: Gilroy-Light;
    src: url(../../../Gilroy-Light.ttf);
}

.warn-icon{
    background-color: #FEE2E2;
    border-radius: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    margin: 2% 4% 0% 4%;
    padding-top: 1%;
}
.error-icon{
    color: rgb(189, 0, 0);
    font-size: 18px;
}

.dialog{
    min-width: 512px
}

.warn-label{
    font-size: 18px;
    font-family: 'Gilroy-Light';
    color: #111827;
    margin-top: 2.5%;
}
.warn-content{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 4.5rem;
    margin-bottom: 3rem;
    font-family: 'Gilroy-Light';
}
.warn-btn{
    background-color: #0c4d71 !important;
    color: white !important;
    border-radius: 2rem !important;
    text-transform: capitalize !important;
    margin: 2% 4% !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    z-index: 999 !important;
}