@font-face {
    font-family: Gilroy-Bold;
    src: url(../../../Gilroy-Bold.ttf);
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gilroy-Bold';
}
.footer-icons {
    width: 8%;
    display: flex;
    justify-content: space-between;
}
.footer-icon {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Gilroy-Bold';
    margin-bottom: 30%;
    margin-top: 30%;
}
.footer-copyright{
    color: white;
}