.invoice-view-currency-table-container{
    margin: 0%;
}

.invoice-view-currency-container{
    justify-content: space-between;
}
.long-divider{
    width: 100%;
}

.currency-table-data{
    color: black;
}

.sub-total-amount-item-table, .total-amount-item-table{
    padding-right: 8rem;
}